<mat-toolbar class="menuclass1">
    <!-- <img class="imaClass1" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/LogoGreen.png?raw=true"> -->
    <div class="opcionesMenu1">
<br>
        <a mat-button routerLink=''> <mat-icon class="iconClass1">local_library</mat-icon> </a> 
        <!-- <a mat-button routerLink="Usuario" > Mi cuenta </a> -->
        <a mat-button routerLink='Catalogo' > Catálogo </a>
        <a mat-button routerLink="Servicio" > Espacios </a>
        <a mat-button routerLink="Redes" > Redes </a>
        <a mat-button routerLink="QuienesSomos" > Quienes somos </a>
        <!-- <a mat-button routerLink="Juegos" > Juegos </a> -->
    </div>
</mat-toolbar>

