<h1 class="title"> Catalogo Koha </h1>
<hr class="line1">

<div class="informacion">
    <p  class="textoBase">A partir del 2025 la Biblioteca Pública Municipal implementa el sistema de catalogación Koha, gracias al apoyo Biblioteca Nacional en su capacitación, software y materail para etiquetado.</p>
</div>

<h3 class="title2"> Entenderlo en un 1, 2, 3 </h3>
<hr class="line3">


<!-- Uno dos tres en mat-card -->
<div class="cards">
    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> 1 </strong>  </mat-card-title>
            <mat-card-subtitle> Color </mat-card-subtitle>  
        </mat-card-header>
            
            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblioteca/blob/main/1.jpeg?raw=true"> 
                <p>  El color de la etiqueta indica la categoría a la que pertenece el libro.
                    Rosa: Poesía. Verde: Cuento. Lila: Ensayo. Azul: Novela. Rojo: Historieta y tiera cómica. Blanco: Colección General.
                </p>     
            </mat-card-content>
    </mat-card>

    <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> 2 </strong>  </mat-card-title>
            <mat-card-subtitle> Autor </mat-card-subtitle>  
        </mat-card-header>
            
            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblioteca/blob/main/2.jpeg?raw=true"> 
                <p> Para una mayor agilidad y orden, las etiquetas están marcadas con las tres primeras letras del apellido del autor. Ejemplo: Marvel Moreno: MOR
                </p>     
            </mat-card-content>
    </mat-card>

        <mat-card class="card" >
        <mat-card-header>
            <mat-card-title> <strong> 3 </strong>  </mat-card-title>
            <mat-card-subtitle> Ejemplar </mat-card-subtitle>  
        </mat-card-header>
            
            <mat-card-content>
                <img class="imga" src="https://github.com/MunchiP/ImagenesBiblioteca/blob/main/3.jpeg?raw=true"> 
                <p> Podrás saber con cuantos ejemplares contamos </p>     
            </mat-card-content>
    </mat-card>
</div>

<hr class="line3">


<div class="informacion">
    <p class="textoBase">El catalogo está disponible de manera online en la url indicada por la biblioteca.
    <br>
    Visítanos para conocer toda el catálogo disponible para ti.
    </p>
</div>


