.contenedorInicio{
    display: flex;
    height: 100vh;
}

.contenedorIzquierda , .contenedorDerecho {
    /* flex: 1; */
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .contenedorIzquierda{
    background: rgb(17, 77, 77);
} */

.contenedorDerecho{
    background: rgb(123, 71, 6);
}
.informacionIzquierda{
    /* margin-top: 15rem; */
    align-items: center
}

.tituloBiblioteca{
    max-width: 70%;
    word-wrap: break-word;
    text-align: center;
}

/* Carrusel */

.carrusel-container{
    /* height: 100vh; */
    /* width: 150%; */
    margin: auto;
}

.carrusel-Image{
    width: 129%;   
    height: auto;       /* Mantiene la proporción */
    /* object-fit: contain; Hace que no se deforme ni desborde */
    /* max-width: 100%;    Que no crezca más que el contenedor */
    /* max-height: 100vh;  Limita el alto máximo al tamaño de la pantalla */
}

.carrusel-img{
    width: 50%;
    /* border-radius: 10px; */
}

.carrusel-controler{
    position: absolute;
    width: 45%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%); 
}

.carrusel-controler button{
    background: rgba(106, 13, 173, 0.7);
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.carrusel-controler button:hover{
    background: rgba(201, 126, 14, 0.8);
}


@media (max-width: 768px) {
    .contenedorInicio {
        flex-direction: column;
    }

    .contenedorIzquierda, .contenedorDerecho {
        flex: none;
        width: 100%;
    }

    .tituloBiblioteca {
        max-width: 90%;
    }
}